@media only screen and (min-width: 768px) and (max-width: 1193px) {
    .main-navbar {
      
      margin-top: 20px;
  
  }
.main-menu{
  margin-left: 120px;
}

}
@media only screen and (min-width: 990px) and (max-width: 1300px) {

.main-menu{
  margin-left: 170px;
}

}
@media only screen and (min-width: 768px) and (max-width: 1190px) {

.main-navbar{
 margin-top: -70px;
}

}
@media only screen and (min-width: 990px) and (max-width: 992px) {

.main-navbar{
margin-top: 10px;
}
.header-search-form{
 margin-right: 100px;
}

}

@media only screen and (min-width: 989px) and (max-width: 991px) {

.main-navbar{
margin-top: -70px;
}


}


@media only screen and (min-width: 990px) {

.images{
margin-left: 120px;
}

}


@media only screen and (max-width: 767px) {
  .site-logo {
      margin-bottom: 20px;
  }

/* Large Mobile :480px. */



  .user-panel {
      text-align: center;
  }
  .main-menu {
      display: none;
  }
  .slicknav_btn {
      background-color: #565656;
      text-align: left;
  }
  .slicknav_menu {
      background: #282828;
      display: block;
      text-align: left;
      margin-top: 70px;
  }
  .slicknav_menu .new {
      font-size: 10px;
      font-weight: 700;
      color: #fff;
      background: #f51167;
      line-height: 1;
      text-transform: uppercase;
      padding: 5px 9px 1px;
      border-radius: 15px;
      width: 42px;
      margin-left: 5px;
  }
  
}
/* Medium Mobile :480px. */


body{
  font-family: 'Spectral', serif;
}
    body::-webkit-scrollbar {
width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
background: pink;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
background-color:lightcoral;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid pink;  /* creates padding around scroll thumb */
}

.row.display-flex {
display: flex;
flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
display: flex;
flex-direction: column;
}
#card{
  transition:0.5s;
  cursor:pointer;
  }
  #card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  }
  #card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
  }
  #card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
  }
  #card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  #card-text{
  height:80px;  
  }
  
  #card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
  }
  #card::before {
  transform-origin: left top;
  }
  #card::after {
  transform-origin: right bottom;
  }
  #card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
.dis{
 display: none;
 float: right;
}
@media only screen and (max-width: 990px) {
.header-search-form {
      margin-bottom: 15px;
  margin-right: auto;
  }

}