{% load static %}
{% load cart_template_tags%}


{% block content %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dagallery-artists</title>
  <link rel="shortcut icon" href="{% static 'logos.png'%}" type="image/4x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{%static 'css/style.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
  <link href="{%static 'css/styles2.css'%}" rel="stylesheet">
  <link href="{%static 'css/hero.css'%}" rel="stylesheet">
  <link href="{%static 'css/navbar.css'%}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
  <style type="text/css">
      body{
      
      font-family: 'Spectral', serif;
    }
  @media only screen and (max-width: 767px) {
	.site-logo {
		margin-bottom: 20px;
	}
	.header-search-form {
		margin-bottom: 15px;
	}
	.user-panel {
		text-align: center;
	}
	.main-menu {
		display: none;
	}
	.slicknav_btn {
		background-color: #565656;
		text-align: left;
	}
	.slicknav_menu {
		background: #282828;
		display: block;
		text-align: left;
		margin-top: 70px;
	}
	.slicknav_menu .new {
		font-size: 10px;
		font-weight: 700;
		color: #fff;
		background: #f51167;
		line-height: 1;
		text-transform: uppercase;
		padding: 5px 9px 1px;
		border-radius: 15px;
		width: 42px;
		margin-left: 5px;
	}
}
    html,
    body,
   
    .carousel {
     
      font-family: 'Spectral', serif;
      scroll-behavior: smooth;
   
   
    }
    body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: pink;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color:lightcoral;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid pink;  /* creates padding around scroll thumb */
}
.collapse-content .fab.fa-facebook{
  color: rgb(72, 134, 170) !important;
  
}
.collapse-content .fab.fa-facebook:hover {
  color: rgb(0, 217, 255) !important;
}
.collapse-content .fab.fa-twitter{
  color: rgb(0, 140, 255) !important;
}
.collapse-content .fab.fa-twitter:hover {
  color: #0d47a1 !important;
}

 

  </style>
</head>

<body>


  <header class="header-section">
    <div class="header-top">
      <div class="container">
        <div class="row" >
          <div class="col-lg-2 text-center text-lg-left">
            <!-- logo -->
            <a href="/">
              <img src="{% static 'logos.png'%}" alt="" srcset="" style="height: 140px;width: 140px;">
            </a>
           
          </div>
          <div class="col-xl-6 col-lg-5 " style="align-items: center;margin-top: 15px;" >
            <form class="header-search-form" role="search" action="{% url 'core:search_results' %}">
              <input type="text" placeholder="Search product ...." name="title" style="border: 1px solid coral;">
              <button><i class="fas fa-search"></i></button>
            </form>
          </div>
          <div class="col-xl-4 col-lg-5 " style="align-items: center;margin-top: 20px;"  >
            <div class="user-panel" >
              <div class="up-item dropdown">
                
               <span style="font-size: 15px;display: inline-flexbox;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class=" dropdown-toggle" >  <i class="far fa-user" > </i> Account</span>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% if user.is_authenticated %}
                <a class="dropdown-item"  href="{% url 'account_logout'%}">Logout</a>
                <a href="/myprofile" class="dropdown-item" > Account </a>
  
             
                {% else %}
                <a  class="dropdown-item" href="{% url 'account_login'%}">Sign In</a>  
                
                <a class="dropdown-item"  href="{% url 'account_signup'%}">Create Account</a>
                {%endif%}
              </div>
              </div>
              <div class="up-item">
                <div class="shopping-card">
                  <a href="{%url 'core:order-summary'%}">
                    <i class="fas fa-shopping-bag"></i>
                
                  
                  <span style="font-weight: 500;">{{request.user|cart_item_count}} </span>
                </div>
               Shopping Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="main-navbar" style="text-align: center;" >
      <div class="container">
        <!-- menu -->
        <ul class="main-menu">
        
          <li><a href="/paintings">Paintings</a></li>
          <li><a href="/photographs">Photographs</a></li>
          <li><a href="/prints">Prints</a></li>
          <li><a href="/sculptures">Sculptures</a></li>
          <li><a href="/artists">Artists</a></li>
          
          
       
        </ul>
      </div>
    </nav>
  </header>
  <!-- Navbar -->

  <div class="overlay">

  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel" style="margin-top: -25px;" >

   
    <div class="carousel-inner" role="listbox" style="height: 300px;">

      

      <div class="carousel-item active">

       
        <div class="view" id = view2a>
         
        

            <span>
              <div class="artists" style="position: fixed;font-size: 75px;">
    
                <h1 style="font-size: 65px;" >Meet our talented Artists  from All over The World</h1> <br>
    
                <h1  style="font-size: 65px;color: coral;">Art,Creativity,Life</h1>
        
              </div>
            </span>
           
           

       
         

        </div>
      </div>

        <ol class="carousel-indicator" style="margin-top: 10px;color: #000; display: inline-flex;">
          <li data-target="#carousel-example-1z" data-slide-to="0" style="background-color: black;border-radius: 100px; margin-right: 15px;" ></li>
          <li data-target="#carousel-example-1z" data-slide-to="1" style="background-color: black;border-radius: 50%;margin-right: 15px;"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2" style="background-color: black;border-radius: 50%;"></li>
        </ol>

      </div>
    
      <!--/Third slide-->
   

    </div>
    


  </div>


</div>

   <div class="container-fluid" style="margin-top: 10px;">
    <section class="text-center mb-4" style="margin-bottom: 200px;">

        <!--Grid row-->
        <div class="row wow fadeIn" style="margin: 20px; margin-bottom: 160px;" >

          {% for item in products %}
          
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " style="margin-bottom: 30px;" >
           
           <!-- Card -->
<div class="card promoting-card">

 
  <div class="view overlay">
    <img class="card-img-top rounded-0" src="{{item.user.artist.image_artist.url}}" alt="Card image cap">
    <a href="{{item.user.artist.get_absolute_url}}">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <div class="collapse-content">
  
      <h4 class="card-title font-weight-bold"><a>{{item.user.username|title}} </a></h4>
    
    
      <p class="card-text" >{{item.user.artist.bio}}</p>
      <!-- Button -->
      <a href="{{item.artist.get_absolute_url}}" style="float: left;color: red;">Read More</a>
      <a href="{{item.artist.facebook}}">
      <i class="fab fa-facebook text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="my facebook"></i>
    </a>

    <a href="{{item.artist.tweeter}}">
      <i class="fab fa-twitter text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="my twitter"></i>
    </a>
    </div>

  </div>

</div>

            </div>
        

        {% endfor%}

        </div>
       

      </section>

      
     

    
      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

         {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {%endif%}
          <li class="page-item active">
            <a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
      
          {% if page_obj.has_next%}

          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {%endif%}
        </ul>
      </nav>
     {%endif%}

    </div>

    <section class="footer-section">
      <div class="container-fluid">
      
        <div class="row">
    
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <a href="https://hooliganlivefree.com"><img src="{% static 'logo.png'%}" alt="" style="margin-left: 20px;height: 70%; width: 70%;"></a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <h2>About Us</h2>
              <p >Welcome to Hooligan LLC, We <br> represent artists from all over  the <br>  world find amazing photographs, <br>paintings,sculptures and prints.</p>
              <img src="{% static 'cards.png' %}" alt="" style="height: 50%;width: 50%;">
            </div>
          </div>
          
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <h2>DON'T GET LOST</h2>
              <ul>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/photographs">Photographs</a></li>
                  <li><a href="/artists">Artists</a></li>
                  <li><a href="/paintings">Paintings</a></li>
                  <li><a href="/sculptures">Sculptures</a></li>
                  <li><a href="{%url 'core:order-summary'%}">Order Summary</a></li>
                </ul>
              
              </ul>
              
            </div>
          </div>
        
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget contact-widget">
              <h2>Contact Info</h2>
              <div class="con-info">
              
                <p> <i class="fas fa-home" style="margin-right: 10px;"></i>Hooligan LLC </p>
              </div>
              <div class="con-info">
                
                <p> <i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i>New York,USA </p>
              </div>
              <div class="con-info">
                
                <p> <i class="fas fa-phone-alt" style="margin-right: 10px;"></i>+1 347 981 3342</p>
              </div>
              <div class="con-info">
              
                <p> <i class="far fa-envelope" style="margin-right: 10px;"></i>451hugo@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="social-links-warp">
        <div class="container">
          <div class="social-links" style="text-align: center;">
            <a href="https://www.instagram.com/hooliganlivefree/?hl=en" class="instagram"><i class="fab fa-instagram"></i><span>instagram</span></a>
        
            <a href="https://www.facebook.com/HooliganLLC/" class="facebook"><i class="fab fa-facebook"></i><span>facebook</span></a>
            <a href="https://twitter.com/HooliganLLC" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a>
          
          </div>
    
    
    
        </div>
      </div>
    </section>
    
    
    
    
    
    
    
    <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>


    <script src="/static_files/js/jquery.slicknav.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    
    <script src="{% static 'js/script.js' %}"></script>
  <script type="text/javascript">
      $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });
    new WOW().init();

  </script>
</body>

</html>
{% endblock content %}

