{% load static %}
{% load cart_template_tags%}


{% block content %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dagallery-Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'logos.png'%}" type="image/4x-icon">
  
 
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">


  <link href="{%static 'css/navbar.css'%}" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{%static 'css/style.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link href="{%static 'css/hero.css'%}" rel="stylesheet">


</head>

<style>
      body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: pink;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color:lightcoral;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid pink;  /* creates padding around scroll thumb */
}

 .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
 #card{
	transition:0.5s;
	cursor:pointer;
	}
	#card-title{  
	font-size:15px;
	transition:1s;
	cursor:pointer;
	}
	#card-title i{  
	font-size:15px;
	transition:1s;
	cursor:pointer;
	color:#ffa710
	}
	#card-title i:hover{
	transform: scale(1.25) rotate(100deg); 
	color:#18d4ca;
	
	}
	#card:hover{
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
	}
	#card-text{
	height:80px;  
	}
	
	#card::before, .card::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform .3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
	}
	#card::before {
	transform-origin: left top;
	}
	#card::after {
	transform-origin: right bottom;
	}
	#card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
	transform: scale3d(1, 1, 1);
	}
</style>

<body class="grey lighten-3">

  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="https://hooliganlivefree.com" class="site-logo">
            <h3 style="font-family: 'Courgette', cursive;color: #000;font-family: 800;">HOOLIGAN <br> LLC.</h3>
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form" role="search" action="{% url 'core:search_results' %}">
            <input type="text" placeholder="Search product ...." name="title" style="border: 1px solid coral;">
            <button><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="far fa-user"></i>
              {% if user.is_authenticated %}

              <a href="{% url 'account_logout'%}">Logout</a>
              {% else %}
              <a href="{% url 'account_login'%}">Sign In</a>  or <a href="{% url 'account_signup'%}">Create Account</a>
              {%endif%}
            </div>
            <div class="up-item">
              <div class="shopping-card">
                <a href="{%url 'core:order-summary'%}">
                  <i class="fas fa-shopping-bag"></i>
              
                
                <span style="font-weight: 500;">{{request.user|cart_item_count}} </span>
              </div>
             Shopping Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar" >
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/paintings">Paintings</a></li>
        <li><a href="/photographs">Photographs</a></li>
        <li><a href="/prints">Prints</a></li>
        <li><a href="/sculptures">Sculptures</a></li>
        
        {% if user.is_authenticated %}
        <li><a href="/upload" style="background-color:coral;width: 120%;text-align: center;font-weight: 400;">Upload Art!</a></li>
        {%endif%}
      </ul>
    </div>
  </nav>
</header>
<!-- Header section end -->

   <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel" style="margin-top: -22px;" > 
 <div class="overlay" >
 <div class="carousel-inner" role="listbox"  id = "down">

   <div class="carousel-item active">
     <div class="view" id = view1 >
      <div class="row wow fadeIn">
        <div class=" text-white" style="margin-top: 50px;margin-left: 50px; width: 480px; opacity: .9;"> <br>
        
          <h1 style="font-weight: 600; margin-left: 10px;"> HOOLIGAN LLC, <br> <span style="color: greenyellow;border-bottom: black solid 1px;">ART</span></h1>
          <p style="margin-left: 10px;font-size: 25px;">Welcome to Hooligan LLC<br> we represent artists from all over <br>the world find amazing  photographs,<br>paintings,sculptures and prints. <br> </p>
          
          <a href="#explore" class="site-btn sb-line" style="color: white; font-size: 13px;">
            <button class="btn btn-danger btn-md "> DISCOVER MORE</button>
            </a>
        
        </div>
      </div>
 
     </div>
      </div>
   </div>
 
   <div class="carousel-item" >

     <div class="view" id = "view2">

       <div class="row wow fadeIn">
         <div class=" text-white" style="margin-top: 50px;margin-left: 50px; width: 480px; opacity: .9;"> <br>
         
           <h1 style="font-weight: 600; margin-left: 10px;"> HOOLIGAN LLC, <br> <span style="color: greenyellow;border-bottom: black solid 1px;">ART</span></h1>
           <p style="margin-left: 10px;font-size: 25px;">Welcome to Hooligan LLC<br> we represent artists from all over <br>the world find amazing  photographs,<br>paintings,sculptures and prints. <br> </p>
           
           <a href="#explore" class="site-btn sb-line" style="color: white; font-size: 13px;">
             <button class="btn btn-danger btn-md "> DISCOVER MORE</button>
             </a>
         
         </div>
       </div>
  
    

     </div>
   </div>
 
    <div class="carousel-item" >
     <div class="view" id = "view3">

       <div class="row wow fadeIn" >
         <div class="text-white" style="margin-top: 50px; margin-left: 50px; width:480px;opacity: .9;"> <br>
         
           <h1 style="font-weight: 600; margin-left: 10px;"> HOOLIGAN LLC, <br> <span style="color: greenyellow;border-bottom: black solid 1px;">ART</span></h1>
           <p style="margin-left: 10px;font-size: 25px;">Welcome to Hooligan LLC<br> we represent artists from all over <br>the world find amazing  photographs,<br>paintings,sculptures and prints. <br> </p>
           
           <a href="#explore" class="site-btn sb-line" style="color: white; font-size: 13px;">
             <button class="btn btn-danger btn-md "> DISCOVER MORE</button>
             </a>
         </div>
       </div>
       <div class="d-flex justify-content-center align-items-center">

       
         <div class="text-center white-text mx-5 wow fadeIn">
           
         </div>
         

       </div>
       

     </div>
     <ol class="carousel-indicator" style="margin-top: 10px;color: #000; display: inline-flex;">
       <li data-target="#carousel-example-1z" data-slide-to="0" style="background-color: black;border-radius: 100px; margin-right: 15px;" ></li>
       <li data-target="#carousel-example-1z" data-slide-to="1" style="background-color: black;border-radius: 50%;margin-right: 15px;"></li>
       <li data-target="#carousel-example-1z" data-slide-to="2" style="background-color: black;border-radius: 50%;"></li>
     </ol>

   </div>
 
  


 </div> 
  






  
    
     <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"  style="margin-top: 400px;"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"  style="margin-top: 400px;"></span>
      <span class="sr-only">Next</span>
    </a> 


  </div>

</div>    <br> <br> <br>




<section class="section" style="margin-top: -100px;" id = "explore">
  <div class="container">

    <div class="row  mb-5">
      <div class="col-md-5" >
        <h2 class="section-heading" style="text-align: left;">Explore Dagallarey</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" >
        <div class="feature-1 text-center">
          <div class="wrap-icon icon-1" >
            
            <span class="fas fa-users" style="font-size: 30px;margin-top: 30px;"></span>
          </div>
          <h3 class="mb-3" style="font-weight: 500;">Diversity</h3>
          <p style="text-align: center;color: #000;">Meet and support artists from all over the world.</p>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="feature-1 text-center">
          <div class="wrap-icon icon-1">
         
            <span class="fas fa-chart-area" style="font-size: 30px;margin-top: 30px;"></span>
          </div>
          <h3 class="mb-3" style="font-weight: 500;">Find unique Art</h3>
          <p style="text-align: center;color: #000;">Find unique paintings,sculptures,photographs and prints</p>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="feature-1 text-center">
          <div class="wrap-icon icon-1">
           
            <span class="fab fa-cc-visa" style="font-size: 30px;margin-top: 30px;"></span>
          </div>
          <h3 class="mb-3" style="font-weight: 500;">Safe Transaction</h3>
          <p style="text-align: center;color: #000;">We ensure safe transactions.Full peace of mind and swift delivery</p>
        </div>
      </div>
    </div>

  </div>
</section>

 
  <main> 
     <div class="row wow fadeIn" style="margin-top: -55px; right: 12px; float: left; margin-bottom: 30px; margin-right: 10px;">
    <div class="col-xs-6" style="align-items: center;justify-content: center;">
      
    </div>
  </div> 

    <div class="row wow fadeIn">
      <div class="col-md-12" style="background: rgb(209, 209, 209);height: 200px;text-align: center;">
        <h1 style="text-align: center;font-weight: 500;margin-top: 40px;">Shop original art from independent <br> artists around the world.</h1>
      </div>
    </div>


    
    <div class="cont" >
      <div class="row  wow fadeIn" style="margin-left: 50px; margin-top: 90px;">
        <div class="col-md-5" >
          <h2 class="section-heading" style="text-align: left;margin-left: 10px;">Shop by Category</h2>
        </div>
      </div>
      <!-- Sierra Web Development • Owner -->
      <div class="container-fluid">
       
          <div class="row" style="margin: 30px;">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 20px;" >
              <a href="/photographs">
              <div class="card card-block" id = "card">
            
            <img src="{% static 'camera.jpg'%}" alt="Photo of sunset" style="height:300px;">
                <h2 class="card-title mt-3 mb-3" style="font-weight: 500; font-size: 20px;color: #000;">Photographs</h2>
               
          </div>
        </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 20px;" >
              <a href="/prints">
              <div class="card card-block" id = "card">
              
            <img src="{% static 'prints.jpg'%}" alt="Photo of sunset" style="height:300px;">
                <h2 class="card-title  mt-3 mb-3" style="font-weight: 500; font-size: 20px;color: #000;">Prints</h2>
              
          </div>
        </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 20px;" >
              <a href="/paintings">
              <div class="card card-block" id = "card">
            
            <img src="{% static 'painting.jpg'%}" alt="Photo of sunset" style="height:300px;">
                <h2 class="card-title  mt-3 mb-3" style="font-weight: 500; font-size: 20px;color: #000;">Paintings</h2>
           
          </div>
        </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 20px;" >
              <a href="/sculptures">
              <div class="card card-block" id = "card">
        
            <img src="{% static 'sculptures.jpg'%}" alt="Photo of sunset" style="height:300px;">
                <h2 class="card-title  mt-3 mb-3" style="font-weight: 500; font-size: 20px;color: #000;">Sculptures</h2>
               
          </div>
        </a>
            </div>    
          </div>
          
        </div>
        
     
        <div class="row  wow fadeIn" style="margin-left: 50px; margin-top: 90px;">
          <div class="col-md-5" >
            <h2 class="section-heading" style="text-align: left;margin-left: 20px;">Featured Products</h2>
          </div>
        </div>


        
        
        <!-- End Portfolio Section -->
        
     
      
     <section class="text-center mb-4" style="margin: auto;">
     
        <div class="row wow fadeIn" style="margin: 20px;" >

         

          {% for item in object_list %}
  
          <div class="col-lg-4 " style="height: 500px; width: 600px;">
          
            <div class="view">
            <img src="{{item.image.url}}" class="responsive"   alt="" style="height: 400px; width: 100%;"  >

            <a href="{{item.get_absolute_url}}">
              <div class="mask rgba-white-slight"></div>
            </div>
            <div class=" text-center" style="margin-top: 10px;">
              <!--Category & Title-->
              
              <h5>
                <strong>
                  <a href="{{item.get_absolute_url}}" class="dark-grey-text">{{item.title}}
                    <span class="badge badge-pill {{item.get_label_display}}-color">{{item.get_category_display}}</span>
                  </a>
                </strong>
              </h5>
  
              <h4 class="font-weight-bold blue-text">
                <strong>$  
                
                  
                  {{item.get_with}}
  
                
                
                </strong>
              </h4>
  
            </div>
            </div>
    
         

        {% endfor%}
        <div class="clearfix"></div>
        </div> 
       

    
     
      <div class="row " style="margin: 10px; margin-top: 60px;">
       <div class="col-md-12">
         <img src="{%static 'to.jpg'%}" alt="" srcset="" style="height: 70%; width: 100%;">
       </div>

      </div>
    </section>
      <!-- -Pagination -->
      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

         {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {%endif%}
          <li class="page-item active">
            <a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
      
          {% if page_obj.has_next%}

          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {%endif%}
        </ul>
      </nav>
     {%endif%}

    </div>
  </main> 
    <h1></h1>

   <section class="footer-section" style="margin-top: 50px;">
		<div class="container-fluid">
		
			<div class="row">

        <div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
            <a href="https://hooliganlivefree.com" target="_blank"><img src="{% static 'logo.png'%}" alt="" style="margin-left: 20px;height: 70%; width: 70%;"></a>
					</div>
        </div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About Us</h2>
						<p>Welcome to Hooligan LLC we represent artists from all over the world find amazing photographs,paintings,sculptures and prints.</p>
						<img src="{% static 'cards.png' %}" alt="" style="height: 50%;width: 50%;">
					</div>
        </div>
        
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>DON'T GET LOST</h2>
						<ul>
              <li><a href="/">Home</a></li>
              <li><a href="/photographs">Photographs</a></li>
              <li><a href="/paintings">Paintings</a></li>
              <li><a href="/">Sculptures</a></li>
              <li><a href="{%url 'core:order-summary'%}">Order Summary</a></li>
						</ul>
						
					</div>
				</div>
			
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Contact Info</h2>
						<div class="con-info">
						
							<p> <i class="fas fa-home" style="margin-right: 10px;"></i>Hooligan LLC </p>
						</div>
						<div class="con-info">
							
							<p> <i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i>New York,USA </p>
						</div>
						<div class="con-info">
							
							<p> <i class="fas fa-phone" style="margin-right: 10px;"></i>+1 347 981 3342</p>
						</div>
						<div class="con-info">
						
							<p> <i class="far fa-envelope" style="margin-right: 10px;"></i>451hugo@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
          <a href="https://www.instagram.com/hooliganlivefree/?hl=en" class="instagram"><i class="fab fa-instagram"></i><span>instagram</span></a>
        
          <a href="https://www.facebook.com/HooliganLLC/" class="facebook"><i class="fab fa-facebook"></i><span>facebook</span></a>
          <a href="https://twitter.com/HooliganLLC" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a>
        
				</div>



			</div>
		</div>
	</section>







  <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
$(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });

  // Animations initialization
  new WOW().init();

</script>
</html>
{% endblock content %}