{% load static %}

{% load cart_template_tags%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>E-Commerce</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->

  <!-- Your custom styles (optional) -->
  <link href="{%static 'css/style.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
  <link href="{%static 'css/navbar.css'%}" rel="stylesheet">

  <link href="{%static 'css/styles2.css'%}" rel="stylesheet">
  <link href="{%static 'css/heroz.css'%}" rel="stylesheet">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" style="position: relative; font-weight: 500;" id = "overlay">
    <div class="container">
  
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <div class="image">
          <img src="{% static 'logo.png'%}" alt="" srcset="" style="height: 100px; width: 100px; margin-top: 22px;">
         </div>
        
        <ul class="navbar-nav mr-auto" style="margin-left: 300px;margin-top: 100px;">
          
         
            <li class="nav-item " style="margin-right: 50px;font-weight: 500;">
                <a class="nav-link waves-effect" href="/paintings" style="font-weight: 500;color: black;">Paintings
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link waves-effect" href="/photographs" target="_blank" style="font-weight: 500;color: black;">Photographs</a>
              </li>
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link waves-effect" href="/" style="font-weight: 500;color: black;">Sculptures
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link waves-effect" href="/prints" style="font-weight: 500;color: black;" >Prints</a>
          </li>
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link waves-effect" href="/artists" style="font-weight: 500;color: black;">Artists</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link waves-effect" href="{%url 'core:upload'%}" style="font-weight: 500;color: black;">Artists</a>
          </li>
  
          {%endif%}
      
        </ul >
  
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons" style = "margin-top:-80px;margin-left: -420px;">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{%url 'core:order-summary'%}">
              <span class="badge red z-depth-1 mr-1" style="border-radius: 100px; color: black; font-weight: 500;background-color: red;"> {{request.user|cart_item_count}}  </span>
              
              <img src="{% static 'cart.png'%}" alt="" srcset="" style="height: 30px; width: 30px;">
              <span class="clearfix d-none d-sm-inline-block">  </span>
            </a>
          </li>
          {% if user.is_authenticated %}
          <!-- <i class="far fa-user"></i> -->
          <li class="nav-item">
            <a href="{% url 'account_logout'%}" class="nav-link waves-effect" target="_blank">
              <span class="clearfix d-none d-sm-inline-block" style="font-weight: 500;color: black;">Logout</span>
            </a>
          </li>
          {% else %}
          <!-- <button><i class="far fa-user"></i></button> -->
          <li class="nav-item">
            <a href="{% url 'account_login'%}" class="nav-link waves-effect" target="_blank">
              <span class="clearfix d-none d-sm-inline-block"  style="font-weight: 500;color: black;">Signin  </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_signup'%}" class="nav-link waves-effect" target="_blank">
              <span class="clearfix d-none d-sm-inline-block" style="font-weight: 500;color: black;">| Create Account</span>
            </a>
          </li>
  
          {% endif %}
          
       
        
        </ul>
  
      </div>
  
    </div>
    
    <div class="col-sm-4 col-md-4 navbar-left" style = "margin-top:-80px">
  
      <form class="navbar-form" role="search" action="{% url 'core:search_results' %}">
  
        <div class="input-group md-form form-sm form-2 pl-0">
          <input type="text" class="form-control" placeholder="Search Item..." name="title" class="form-control my-0 py-1 red-border" style="border: solid 1px red;">
          <div class="input-group-append">
            <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                aria-hidden="true"></i></span>
          </div>
         
        </div>
  
      </form>
    </div>
  </nav>


  <section  class="hero-section">
  
  <div class="container"  >
  <div class="row wow fadeIn"  id = "fill" style="margin-bottom: 20px;" >
      
    <div class="col-md-8 ">
        <div class="card" style="width: 100%;" > <br> <br>

<form action="" method="POST" enctype="multipart/form-data" class="col-md-9  " >
   {% csrf_token %}
   <fieldset class="form-group-responsive"> 
     <legend class="border-bottom mb-4" >Upload Your Item !</legend>
       {{form|crispy}}
   </fieldset>
 <div class="form-group-responsive">
     <button class="btn btn-outline-danger" type="submit">Upload</button>
 </div>
</form>


</div>
</div>
</div> 
</div>


<section class="footer-section">
  <div class="container-fluid">
  
    <div class="row">

      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <a href="index.html"><img src="{% static 'logo.png'%}" alt="" style="margin-left: 20px;height: 70%; width: 70%;"></a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>About Us</h2>
          <p>Welcome to Hooligan LLC we represent artists from all over the world find amazing photographs,paintings,sculptures and prints.</p>
          <img src="{% static 'cards.png' %}" alt="" style="height: 50%;width: 50%;">
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>DON'T GET LOST</h2>
          <ul>
            <li><a href="">Photographs</a></li>
            <li><a href="">Artists</a></li>
            <li><a href="">Paintings</a></li>
            <li><a href="">Sculptures</a></li>
            <li><a href="">Order Summary</a></li>
          
          </ul>
          
        </div>
      </div>
    
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget contact-widget">
          <h2>Contact Info</h2>
          <div class="con-info">
          
            <p>Hooligan LLC </p>
          </div>
          <div class="con-info">
            
            <p>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68 </p>
          </div>
          <div class="con-info">
            
            <p>+53 345 7953 32453</p>
          </div>
          <div class="con-info">
          
            <p>office@youremail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
      
        <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
        <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
      
      </div>



    </div>
  </div>
</section>







<a href="#" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>


</body>
<script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
$(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });
  // Animations initialization
  new WOW().init();

</script>
</html>
