{% load static %}
{% load cart_template_tags%}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dagallery-artists</title>
  <link rel="shortcut icon" href="{% static 'logos.png'%}" type="image/4x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{%static 'css/style.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
  <link href="{%static 'css/styles2.css'%}" rel="stylesheet">
  <link href="{%static 'css/hero.css'%}" rel="stylesheet">
  <link href="{%static 'css/navbar.css'%}" rel="stylesheet">
 


<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen"> 
  <link href="{%static 'css/myprofile.css'%}" rel="stylesheet">
  <style type="text/css">
    html,
    body,
   
    .carousel {
     
      font-family: 'Josefin Sans', sans-serif;
      scroll-behavior: smooth;
   
   
    }
    body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: pink;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color:lightcoral;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid pink;  /* creates padding around scroll thumb */
}
.collapse-content .fab.fa-facebook{
  color: rgb(72, 134, 170) !important;
  
}
.collapse-content .fab.fa-facebook:hover {
  color: rgb(0, 217, 255) !important;
}
.collapse-content .fab.fa-twitter{
  color: rgb(0, 140, 255) !important;
}
.collapse-content .fab.fa-twitter:hover {
  color: #0d47a1 !important;
}

 

  </style>
</head>

<body>

  <header class="header-section">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 text-center text-lg-left">
            <!-- logo -->
            <a href="https://hooliganlivefree.com" class="site-logo">
              <h3 style="font-family: 'Courgette', cursive;color: #000;font-family: 800;">HOOLIGAN <br> LLC.</h3>
            </a>
          </div>
          <div class="col-xl-6 col-lg-5">
            <form class="header-search-form" role="search" action="{% url 'core:search_results' %}">
              <input type="text" placeholder="Search product ...." name="title" style="border: 1px solid coral;">
              <button><i class="fas fa-search"></i></button>
            </form>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="user-panel">
              <div class="up-item">
                <i class="far fa-user"></i>
                {% if user.is_authenticated %}
  
                <a href="{% url 'account_logout'%}">Logout</a>
                
                {% else %}
                <a href="{% url 'account_login'%}">Sign In</a>  or <a href="{% url 'account_signup'%}">Create Account</a>
                {%endif%}
              </div>
              <div class="up-item">
                <div class="shopping-card">
                  <a href="{%url 'core:order-summary'%}">
                    <i class="fas fa-shopping-bag"></i>
                
                  
                  <span style="font-weight: 500;">{{request.user|cart_item_count}} </span>
                </div>
               Shopping Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="main-navbar">
      <div class="container">
        <!-- menu -->
        <ul class="main-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/paintings">Paintings</a></li>
          <li><a href="/photographs">Photographs</a></li>
          <li><a href="/prints">Prints</a></li>
          <li><a href="/sculptures">Sculptures</a></li>
          <li><a href="/artists">Artists</a></li>
          {% if user.is_authenticated %}
          <li><a href="/upload" style="background-color:coral;width: 120%;text-align: center;font-weight: 400;">Upload Art!</a></li>
          {%endif%}
        </ul>
      </div>
    </nav>
  </header>

  <section style="margin: 30px;margin-bottom: 50px;">
   <div class="container" >
      <div class="row user-menu-container square" style="color: black;">
          <div class="col-md-12 user-details" style="height: 100%;">
              <div class="row coralbg white">
                  <div class="col-md-6 no-pad">
                      <div class="user-pad">
                        <h2 class="account-heading" style="color: black;"> Hi,{{user.username|title}}</h2>
                        <hr>

                        {% if user.artist.bio %}

                        <h4>Bio</h4>

                      <h6 style="color: black;">{{user.artist.bio}}</h6>
                      <hr>
                        {%endif%}
                        {% if user.artist.focus %}
                        <h4>Focus</h4>
                      <h5 class="badge badge-rose" style="color:black ; background-color: coral;">{{user.artist.focus}}</h4>
                        <hr>
                        {%endif%}
                        {% if user.artist.about_your_work %}
                        <h4>About Your Work</h4>
                      <h6 style="color: black;">{{user.artist.about_your_work}}</h6>
                        <hr>
                        {%endif%}
                        <h4>Social Media Presence </h4>
                        <h5 style="color: blue; font-size: 30px;">
                          {% if user.artist.tweeter%}
                          <a href="{{user.artist.tweeter }}"><i class="fab fa-twitter"></i></a>
                          {%endif%}
                          {% if user.artist.facebook %}
                          <a href="{{user.artist.facebook}}"><i class="fab fa-facebook"></i></a>
                          {%endif%}
                          {% if user.artist.instagram %}

                          <a href="{{user.artist.instagram}}"><i class="fab fa-instagram"></i></a>
                          {%endif%}
                        </h5>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
                            <i class="fas fa-cog"></i> Update Profile
                          </button>
                      </div>
                  </div>
                  <div class="col-md-6 no-pad">
                      <div class="use">
                          <img src="{{user.artist.image_artist.url}}" class="img-responsive thumbnail" style="height: 100%;">
                      </div>
                  </div>
              </div>
             
          </div>
         
   
  </div>





<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">My Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <fieldset class="form-group">
       
        {{u_form|crispy}}
        {{p_form|crispy}}
      </fieldset>
  
      <div class="form-group">
       
        <button class="btn btn-md btn-outline-danger">Save</button>
        <button type="button" class="btn btn-md btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
   
   
        
      
      </form> 
      
    </div>
  </div>
</div>
</section>

    <section class="footer-section">
      <div class="container-fluid">
      
        <div class="row">
    
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <a href="https://hooliganlivefree.com"><img src="{% static 'logo.png'%}" alt="" style="margin-left: 20px;height: 70%; width: 70%;"></a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <h2>About Us</h2>
              <p>Welcome to Hooligan LLC we represent artists from all over the world find amazing photographs,paintings,sculptures and prints.</p>
              <img src="{% static 'cards.png' %}" alt="" style="height: 50%;width: 50%;">
            </div>
          </div>
          
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <h2>DON'T GET LOST</h2>
              <ul>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/photographs">Photographs</a></li>
                  <li><a href="/artists">Artists</a></li>
                  <li><a href="/paintings">Paintings</a></li>
                  <li><a href="/">Sculptures</a></li>
                  <li><a href="{%url 'core:order-summary'%}">Order Summary</a></li>
                </ul>
              
              </ul>
              
            </div>
          </div>
        
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget contact-widget">
              <h2>Contact Info</h2>
              <div class="con-info">
              
                <p> <i class="fas fa-home" style="margin-right: 10px;"></i>Hooligan LLC </p>
              </div>
              <div class="con-info">
                
                <p> <i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i>New York,USA </p>
              </div>
              <div class="con-info">
                
                <p> <i class="fas fa-phone-alt" style="margin-right: 10px;"></i>+1 347 981 3342</p>
              </div>
              <div class="con-info">
              
                <p> <i class="far fa-envelope" style="margin-right: 10px;"></i>451hugo@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="social-links-warp">
        <div class="container">
          <div class="social-links">
            <a href="https://www.instagram.com/hooliganlivefree/?hl=en" class="instagram"><i class="fab fa-instagram"></i><span>instagram</span></a>
        
            <a href="https://www.facebook.com/HooliganLLC/" class="facebook"><i class="fab fa-facebook"></i><span>facebook</span></a>
            <a href="https://twitter.com/HooliganLLC" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a>
          
          </div>
    
    
    
        </div>
      </div>
    </section>
    
    
    
    
    
    
    
    <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>


  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/myprofile.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
      $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });
    new WOW().init();

  </script>
</body>

</html>
 

