{% load static %}
{% load cart_template_tags%}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dagallery-{{user.username}}</title>
  <link rel="shortcut icon" href="{% static 'logos.png'%}" type="image/4x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{%static 'css/style.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
  <link href="{%static 'css/heroz.css'%}" rel="stylesheet">
  <link href="{%static 'css/navbar.css'%}" rel="stylesheet">
  <link href="{%static 'css/home.css'%}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  <link href="{%static 'css/newprofile.css'%}" rel="stylesheet">
  <style type="text/css">
  

    html,
    body,
   
    .carousel {
     
      font-family: 'Spectral', serif;
      scroll-behavior: smooth;
      
   
    }
  
    .nav-pills>li>a, .nav-tabs>li>a {
    color: black;
    font-weight: 600;
}


 

  </style>

     
<script type="text/javascript">

  let user = '{{request.user}}'
  function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        const csrftoken = getCookie('csrftoken');
  
  
  </script>
</head>

<body>
  <header class="header-section" style="text-align: center;align-items: center;" > 
    <div class="header-top">
      <div class="main-container">
        <div class="row" >
          <div class="col-lg-2 " id = "images">
            <!-- logo -->
            <a href="/">
              <img src="{% static 'logos.png'%}" alt="" srcset="" style="height: 140px;width: 140px;" class="images">
            </a>
           
          </div>
          <div class="col-xl-6 col-lg-5" style="align-items: center;margin-top: 15px;"  >
            <form class="header-search-form" role="search" action="{% url 'core:search_results' %}" style="width: 70%;margin-left: auto;">
              <input type="text" placeholder="Search product ...." name="title" style="border: 1px solid black;border-radius: 0;background-color: transparent;">
              <button><i class="fas fa-search"></i></button>
            </form>
          </div>
          <div class="col-xl-4 col-lg-5 " style="margin-top: 20px;"  >
            <div class="user-panel" >
              <div class="up-item dropdown">
                
               <span style="font-size: 15px;display: inline-flexbox;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class=" dropdown-toggle" >  <i class="far fa-user" > </i> Account</span>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% if user.is_authenticated %}
                  <a class="dropdown-item"  href="{% url 'account_logout'%}">Logout</a>
                  <a href="/myprofile" class="dropdown-item" > Account </a>
                  <a href="/myprofile" class="dropdown-item" > Favourites </a>
                  <a href="/myprofile" class="dropdown-item" > Orders </a>
                  <a href="/message" class="dropdown-item" > Messages</a>
  
             
                {% else %}
                <a  class="dropdown-item" href="{% url 'account_login'%}">Sign In</a>  
                
                <a class="dropdown-item"  href="{% url 'account_signup'%}">Create Account</a>
                {%endif%}
              </div>
              </div>
              <div class="up-item">
                <div class="shopping-card">
                  <a href="{%url 'core:order-summary'%}">
                    <i class="fas fa-shopping-bag"></i>
                
                  
                  <span style="font-weight: 500;">{{request.user|cart_item_count}} </span>
                </div>
               Shopping Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="main-navbar"  >
      <div class="container">
        <!-- menu -->
        <ul class="main-menu"  >
        
          <li style="margin-right: 12px;"><a href="/paintings">PAINTINSGS</a></li>
          <li style="margin-right: 12px;"><a href="/photographs">PHOTOGRAPHS</a></li>
          <li style="margin-right: 12px;"><a href="/prints">PRINTS</a></li>
          <li style="margin-right: 12px;"><a href="/sculptures">SCULPTUTES</a></li>
          <li><a href="/artists">ARTISTS</a></li>
          
          
       
        </ul>
      </div>
    </nav>
  </header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container" style="margin-top: 30px;">
<div class="row">
    <div class="col-lg-4 col-xl-4">
        <div class="card-box text-center">
          <!-- <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>Edit</a> -->
            <img src="{{user.artist.image_artist.url}}" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="height:200px ; width: 200px;">

            <h4 class="mb-0">{{user.first_name}} {{user.last_name}}</h4>
            <hr>
            

            <ul class="nav nav-pills navtab-bg" style="display: inline-block;text-align: left;">

              <li class="nav-item" style="background-color: transparent;">
                <a href="#about-me" data-toggle="tab" aria-expanded="true" class="nav-link ml-0 active" style="background-color: transparent;">
                    <i class="mdi mdi-face-profilce mr-1"></i>Account Information
                </a>
            </li>
            <hr>
              <li class="nav-item">
                <a href="/message"  class="nav-link" style="background-color: transparent;">
                    <i class="mdi mdi-settings-outline mr-1"></i> Messages
                </a>
            </li>
            <hr>
      
             
          
           
                <li class="nav-item">
                    <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link" style="background-color: transparent;">
                        <i class="mdi mdi-settings-outline mr-1"></i>Orders
                    </a>
                </li>
                <hr>
          
              <li class="nav-item">
                  <a href="#favourites" data-toggle="tab" aria-expanded="false" class="nav-link" style="background-color: transparent;">
                      <i class="mdi mdi-settings-outline mr-1"></i>Favourites
                  </a>
              </li> 
              <hr>

              <li class="nav-item">
                <a href="/seller-account"  class="nav-link" style="background-color: transparent;">
                    <i class="mdi mdi-settings-outline mr-1"></i>Seller Account 
                </a>
            </li> 

            {% if has_seller_account %}
            <hr>
            <li class="nav-item" style="background-color: transparent;">
              <a href="#payment" data-toggle="tab" aria-expanded="true" class="nav-link ml-0 " style="background-color: transparent;">
                  <i class="mdi mdi-face-profilce mr-1"></i>Payment Information
              </a>
          </li>
          <hr>
        {%endif%}

        {% if has_seller_account %}
        <li class="nav-item">
            <a href="/upload" class="nav-link" style="background-color: transparent;">
                <i class="mdi mdi-settings-outline mr-1"></i>Upload Art
            </a>
        </li> 
        <hr>
        {% endif %}
           
            
          </ul>
           
          
            
           

   
        </div> <!-- end card-box -->

     

    </div> <!-- end col-->

    <div class="col-lg-8 col-xl-8">
        <div class="car">

            

            <div class="tab-content">

              <div class="tab-pane" id="upload">
                <form method="post" action="" enctype="multipart/form-data" >
                  {% csrf_token %}
                  <div class="card-box">
                  <h5 class="mb-3 text-uppercase "><i class="mdi mdi-account-circle mr-1"></i> Upload Art</h5>
                  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              {{a_form|crispy}}
                          </div>
                      </div>
                     
                     
                  </div> 
                  <div class="text-right">
                    <button type="submit" class="btn btn-black waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                </div>
                </div>
              </form>

              

                 
              </div>

                <div class="tab-pane  show active" id="about-me">
                  <form method="post" action="" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="card-box">
                    <h5 class="mb-3 text-uppercase "><i class="mdi mdi-account-circle mr-1"></i> Personal Info</h5>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{u_form|crispy}}
                            </div>
                        </div>
                       
                       
                    </div> 
                    <div class="text-right">
                      <button type="submit" class="btn btn-black waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                  </div>
                  </div>
                </form>

                  <form method="post" action="" enctype="multipart/form-data" > 
                    {% csrf_token %}

                  <div class="card-box">
                    <h5 class="mb-3 text-uppercase "><i class="mdi mdi-earth mr-1"></i> Account Information</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{p_form|crispy}}
                            </div>
                        </div>
                    
                    </div> 
                    <div class="text-right">
                      <button type="submit" class="btn btn-black waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                  </div>
                  </div>
                   

                   
                   
                </form>

                   
                </div>
               
                <div class="tab-pane" id="settings">
                 

                    <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                        Order History</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                         
                            <tbody>
                              {% for  order_item in object%}
                                <tr>
                                 
                                    <td><img src="{{order_item.item.image.url}}" alt="" srcset="" style="height: 80px;width: 80px;"> </td>
                                    <td>{{order_item.item.title}}</td>
                                   
                                    <td> $ {{order_item.item.get_with}}</td>
                                  
                                    <td><span class="badge badge-info">{{order_item.item.status}}</span></td>
                                    <td>{{order_item.item.user.first_name}} {{order_item.item.user.last_name}}</td>
                                    
                                </tr>

                                {% empty %}  

                                <p>No Orders</p>
                                {%endfor%}
                                
                                

                            </tbody>
                        </table>
                    </div>

                  
                </div>
                <div class="tab-pane" id="sell">
                 

                  <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                      Upload Information</h5>
                

                
              </div>

                <div class="tab-pane" id="favourites">
                 

                  <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                      Favourites</h5>
                  <div class="table-responsive">
                      <table class="table table-borderless mb-0">
                         
                          <tbody>
                           
                            {% for  order_item in products %}
                              
                          
                           
                              <tr>
                               
                                  <td><img src="{{order_item.image.url}}" alt="" srcset="" style="height: 100px;width: 150px;"> </td>
                                  <td>{{order_item.item.title}}</td>
                                 
                                  <td> $ {{order_item.get_with}}</td>
                                
                                  <td><span class="badge badge-info">{{order_item.status}}</span></td>
                                  <td>{{order_item.item.user.first_name}} {{order_item.user.last_name}}</td>
                              </tr>

                              {% empty %}
                              <p>You have Favourites click on like button to add to favourites</p>
                             
                              {%endfor%}
                             
                              
                              

                          </tbody>
                      </table>
                  </div>

                
              </div>

                <div class="tab-pane" id="payment">
                 

                  <h5 class="mb-3 mt-4 ">
                      Fill In the following details to complete your seller account</h5>
                      <form method="post" action="" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="card-box">
                        <h5 class="mb-3 text-uppercase "><i class="mdi mdi-account-circle mr-1"></i> Payment Details</h5>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{d_form|crispy}}
                                </div>
                            </div>
    
                           
                        </div> 
                      </div>
    
                       
    
                       
                        <div class="text-right">
                            <button type="submit" class="btn btn-black waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                        </div>
                    </form>
    

                
              </div>
               

            </div>
        </div>

    </div>
</div>
</div> 




  

    <section class="footer-section">
      <div class="container-fluid">
      
        <div class="row">
    
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <a href="https://hooliganlivefree.com"><img src="{% static 'logo.png'%}" alt="" style="margin-left: 20px;height: 70%; width: 70%;"></a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <h2>About Us</h2>
              <p >Welcome to Hooligan LLC, We <br> represent artists from all over  the <br>  world find amazing photographs, <br>paintings,sculptures and prints.</p>
              <img src="{% static 'cards.png' %}" alt="" style="height: 50%;width: 50%;">
            </div>
          </div>
          
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
              <h2>DON'T GET LOST</h2>
              <ul>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/photographs">Photographs</a></li>
                  <li><a href="/artists">Artists</a></li>
                  <li><a href="/paintings">Paintings</a></li>
                  <li><a href="/">Sculptures</a></li>
                  <li><a href="{%url 'core:order-summary'%}">Order Summary</a></li>
                  <li><a href="/blog">Blog</a></li>
                </ul>
              
              </ul>
              
            </div>
          </div>
        
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget contact-widget">
              <h2>Contact Info</h2>
              <div class="con-info">
              
                <p> <i class="fas fa-home" style="margin-right: 10px;"></i>Hooligan LLC </p>
              </div>
              <div class="con-info">
                
                <p> <i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i>New York,USA </p>
              </div>
           
            </div>
          </div>
        </div>
      </div>
      <div class="social-links-warp">
        <div class="container">
          <div class="social-links" style="text-align: center;">
            <a href="https://www.instagram.com/hooliganlivefree/?hl=en" class="instagram"><i class="fab fa-instagram"></i><span>instagram</span></a>
        
            <a href="https://www.facebook.com/HooliganLLC/" class="facebook"><i class="fab fa-facebook"></i><span>facebook</span></a>
            <a href="https://twitter.com/HooliganLLC" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a>
          
          </div>
    
    
    
        </div>
      </div>
    </section>
    
    
    
    
    
    
    
    <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>

    <script src="/static_files/js/jquery.slicknav.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  <!-- Initializations -->
  <script type="text/javascript">
      $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });
    new WOW().init();

  </script>
</body>

</html>
 























